<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mypapit.mobile.myposition"
    android:versionCode="10"
    android:versionName="1.2.3" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".AboutDialog"
            android:label="@string/title_activity_about_dialog" >
        </activity>
        <activity
            android:name=".ConverterActivity"
            android:label="@string/title_activity_converter" >
                  
            
        </activity>
        
        <activity
            android:name=".MyLocationActivity"
            android:label="@string/title_activity_my_location" >
                  
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
